//CUSTOM COLORS

$bg-color: #edece4; //cor de fundo do site

$bd-bg-color: #cbc5b9;//cor da borda do site e da imagem principal e das bordas arrendondadas

$bd-primary-color: #988c78;// cor da borda do newsletter

$pc-color: #9e927e; // cor dos preços

$dt-color: #2a2426; //cor dos detalhes e do footer

$text-footer: #edece4; //texto do footer

$bg-button:#cbc5b9; //fundo do botão de contatos